.cesium-viewer-fullscreenContainer {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	position: absolute;
	top: 7px;
	right: 84px;
}

.cesium-viewer-fullscreenContainer:hover {
	border-color: rgb(170, 238, 255);
	box-shadow: 0 0 8px rgb(255, 255, 255);
}