.compass {
	position: fixed;
	bottom: 7px;
	right: 7px;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: var(--color-menu-background-tr);
}

.compass > .compass-arrow {
	position: absolute;
	width: 0;
	height: 0;
	top: -9px;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-width: 8px 7px 0 7px;
	border-color: rgba(255, 0, 0, 0.75) transparent transparent transparent;
	}

.compass > .compass-circle {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.2s ease-out;
	background: url(../images/compass.png) center no-repeat;
	background-size: contain;
}