.stats-dock {
	position: fixed;
	left: 50%;
	bottom: 7px;
	transform: translateX(-50%);
	display: none;
}

.stat-slot {
	background: var(--color-menu-background-tr);
	color: var(--color-white);
	font: var(--font-small);
	font-variant-numeric: tabular-nums;
	padding: 5px 10px;
	white-space: nowrap;
	width: 110px;
	display: grid;
	grid-template-columns: 1fr 1.5fr; /* Label gets 1 part, Value gets 1.5 parts */
	align-items: center;
	gap: 4px;
}

.stat-slot:first-child { border-radius: 4px 0 0 4px; }
.stat-slot:last-child { border-radius: 0 4px 4px 0; }

.stat-slot strong {
	text-align: right;
	font-weight: bold;
	padding-right: 2px;
}

.stat-slot span {
	text-align: left;
	display: inline-block;
}