:root {
	--color-menu-background-tr: rgba(38, 38, 38, 0.75);
	--color-blue: rgb(68, 136, 187);
	--color-blue-tr: rgba(68, 136, 187, 0.75);
	--color-blue-hover-tr: rgba(58, 116, 160, 0.75);
	--color-grey-tr: rgba(204, 204, 204, 0.75);
	--color-white: rgb(237, 255, 255);
	
	--font-standard: 16px sans-serif;
	--font-small: 14px sans-serif;
	--font-large: 20px sans-serif;
	
	--controls-border-radius: 4px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}